fastapi
uvicorn[standard]
sqlalchemy
pydantic
passlib[bcrypt]
pyjwt
python-multipart
livekit-api
email-validator
uvloop          # Event loop tercepat untuk Python async
httptools       # HTTP parser tercepat untuk uvicorn
